<launch>
	<!-- vim: set ft=xml noet : -->
	<!-- example launch script for PX4 based FCU's -->

	<arg name="fcu_url" default="udp://192.168.2.100:2015@192.168.2.123:2000" />
	<arg name="gcs_url" default="udp://localhost:14557@localhost:14552" />
	<arg name="tgt_system" default="3" />
	<arg name="tgt_component" default="1" />
	<arg name="log_output" default="screen" />
	<arg name="name_mav" default="mavros3" />
	
	<include file="$(find mavros)/launch/node.launch">
		<arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
		<arg name="config_yaml" value="$(find mavros)/launch/px4_config3.yaml" />

		<arg name="fcu_url" value="$(arg fcu_url)" />
		<arg name="gcs_url" value="$(arg gcs_url)" />
		<arg name="tgt_system" value="$(arg tgt_system)" />
		<arg name="tgt_component" value="$(arg tgt_component)" />
		<arg name="log_output" value="$(arg log_output)" />
		<arg name="name_mav" value="$(arg name_mav)"/>
	</include>
	<node pkg="mavros_extras" name="mavros_extras_rviz3" type="copter_visualization3" output="screen" />
	<node pkg="demo_test" name="mavros_send3" type="mavros_send_multi5" args="mavros3 3" output="screen" launch-prefix="xterm -e"/>
</launch>
